<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FDS.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="FDS.Settings.Advanced" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <FDS.Settings.General>
      <setting name="AFServerName" serializeAs="String">
        <value>megatron</value>
      </setting>
      <setting name="AFDatabaseName" serializeAs="String">
        <value>FitBit</value>
      </setting>
      <setting name="AFTemplateForFitBit" serializeAs="String">
        <value>FitBit Device Template</value>
      </setting>
      <setting name="AppConsumerKey" serializeAs="String">
        <value>YOU_CONSUMER_KEY_HERE</value>
      </setting>
      <setting name="AppConsumerSecret" serializeAs="String">
        <value>YOU_CONSUMER_KEY_HERE</value>
      </setting>
      <setting name="Readers_DataUpdateFrequency_s" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Configuration_UpdateFreq_s" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="DataWriter_SleepDelay_s" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Readers_InitdaysOfHistory" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="Readers_NormalRunDaysOfHistory" serializeAs="String">
        <value>15</value>
      </setting>
    </FDS.Settings.General>
    <FDS.Settings.Advanced>
      <setting name="StartDebuggerOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoConnectionSImulateData" serializeAs="String">
        <value>False</value>
      </setting>
    </FDS.Settings.Advanced>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
</configuration>
